body {
    background: #eef7fc;
}
.main-container {
    width: 100%;
    margin-bottom: 80px;
}
.search-group {
    color: #9a9a9a;
    padding: 10px 10px;
    margin: 0 20px;
    display: flex;
}
.search-group input {
    width: 100%;
    background: #eef7fc;
    border: none;
}
.col-12 {
    position: unset;
}
.group-data {
    display: flex;
    width: 100%;
}
.group-icon {
    border-radius: 999em;
    background: #84edda;
    margin: 5px 5px 5px 15px;
}
.group-name-message {
    margin: 5px 5px 5px 15px;
}
.group-name {
    font-weight: bold;
}
.group-message-new {
    color: #00e817;
}
.group-message-loaning {
    color: red;
}
.group-message-loaning-2 {
    color: #808080;
}
.width100 {
    width: 100%;
}
.icon-Xsmall {
    border: 5px solid;
    border-color: pink;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background: white;
    object-fit: cover;
}
.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
