body {
    background: #e3f5ff;
}
.back-button {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    left: 30px;
    bottom: 2px;
}
.recording {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.instruction {
    color: #adadad;
}
.recording-logo {
    height: 30px;
    width: 30px;
    border-radius: 60px;
    background: #47aadf;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebarCollapse {
    box-shadow: none;
}
#sidebar.active {
    margin-right: -130px;
}
#sidebar {
    margin-top: 50px;
    min-width: 130px;
    max-width: 130px;
    min-height: 93vh;
    background: #c6e3ff;
    color: #555555;
    font-size: 12px;
    padding: 10px;
    transition: all 0.3s;
    display: flex;
    align-items: flex-start;
}
.flex-contain {
    display: flex;
    overflow-y: hidden;
}
.main-container {
    width: 100vw;
    display: block;
    margin-top: 50px;
}
.content {
    display: block;
    width: 100%;
}
.member {
    height: 40vh;
    overflow-y: auto;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 5px;
}
.waiting-member {
    height: 38vh;
    overflow-y: auto;
    background: #ffffff;
    border-radius: 5px;
}
.member-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.number {
    margin-left: 15px;
}
.waitNumber {
    margin-left: 15px;
}
.group-member-icon {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin: 5px;
}
.group-member-info {
    display: flex;
    align-items: center;
}
.group-member-info .admin {
    color: #d5d8dc;
    display: flex;
    justify-content: space-between;
    width: 70px;
}
.group-wait-member-info {
    display: flex;
    align-items: center;
}
#recordButton {
    background: #47aadf;
}
#stopButton {
    background: #ffb0b0;
}
.message-name-time {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    font-size: 8px;
}
.message-time {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: 8px;
}
audio {
    height: 22px;
    width: 200px;
}
.memberIcon {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin: 5px;
}
button {
    border: solid 1px #000000;
}
.accept-reject {
    display: flex;
}
.accept-reject .btn {
    padding: 0 2px;
    font-size: 10px;
}
.accept-reject .btn-success {
    margin-right: 3px;
}
.you {
    font-size: 8px;
    color: #d5d8dc;
}
.add-admin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-admin-container #add-admin-button {
    background: #58d68d;
    color: #ffffff;
    font-size: 10px;
    border: solid 0.5px #555555;
    border-radius: 2px;
    height: 18px;
}
.flexName {
    display: flex;
    align-items: center;
}
.admin-checkbox {
    margin-left: 3px;
    display: flex;
    align-items: center;
}
.group-icon {
    height: 45px;
    width: 45px;
    border-radius: 90px;
    margin: 5px;
	background: #ffffff;
}
.group-icon img {
    height: 45px;
    width: 45px;
    border-radius: 90px;
    object-fit: cover;
}
@media (min-width: 768px) {
    #sidebar {
        min-height: 100vh;
    }
    .waiting-member {
        height: 45vh;
    }
}
.nullIcon {
    border-radius: 999em;
    background: #84edda;
    margin: 5px 5px 5px 15px;
}
