body {
    background: #e3f5ff;
}
.back-button {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    left: 30px;
    bottom: 2px;
}
.icon-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    padding: 0 40px;
    width: 400px;
}
.like-icon-color {
    background: white;
    border-radius: 10px;
}
.like-icon {
    background: #fff1f1;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.icon-small {
    width: 320px;
    height: 320px;
    object-fit: cover;
}
.like-message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
.user-profession {
    color: #f64040;
}
.gender-age {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: pink;
    border-radius: 20px;
    border: 5px solid rgb(255, 122, 145);
    width: 70px;
}
.reject-record {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 0px 0;
}
.reject-record a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
.fa-times {
    color: red;
}
.fa-microphone {
    color: #008cff;
}
.col-12 {
    position: unset;
}
#recordingsList {
    margin: 0;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}
li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    font-size: 30px;
    border: 0;
    outline: none;
}
button:focus {
    outline: none;
    outline: 0;
}
#controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
audio {
    height: 70px;
}
.error {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-bottom: 30px;
}
.sign-up-error {
    font-weight: bold;
    font-size: 20px;
    color: #239b56;
    height: 30px;
}
.rightBtn {
    display: flex;
    align-items: center;
}
.smallRightSign {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    font-size: 30px;
    border: 0;
    outline: none;
    align-items: center;
    justify-content: center;
}
.smallRightSign .tickSign {
    margin-right: 3px;
}
.finalTickSign {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    font-size: 30px;
    border: 0;
    outline: none;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.finalCrossSign {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    font-size: 30px;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playButton {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    font-size: 30px;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
